<%- include('template/cabecera', {tituloweb: 'Crear nueva mascota' }); %>

    <div class='container'>
        <h1>Detalle Mascota</h1>
        <% if (error) { %>
            <p>
                <%= mensaje %>
            </p>
            <a href="/mascotas" class="btn btn-dark btn-block">Volver a Mascotas</a>
            <% } else { %>

                <form id="formularioEditar" data-id="<%= mascota.id %>">
                    <input id="nombreInput" type="text" name="nombre" class="form-control my-2"
                        value="<%= mascota.nombre %>">

                    <input id="descripcionInput" type="text" name="descripcion" class="form-control my-2"
                        value="<%= mascota.descripcion %>">

                    <button class="btn btn-warning btn-block" type="submit">
                        Editar
                    </button>

                </form>

                <hr>

                <button class="btn btn-danger btn-sm mt-5" id="btnEliminar" data-id="<%= mascota.id %>">
                    Eliminar
                </button>
                <% } %>
    </div>

    <%- include('template/footer'); %>

        <script>

            const btnEliminar = document.querySelector('#btnEliminar');
            btnEliminar.addEventListener('click', async () => {
                console.log('me diste click');
                const id = btnEliminar.dataset.id;
                try {
                    const data = await fetch(`/mascotas/${id}`, { method: 'delete' });
                    const res = await data.json();
                    if (res.estado) {
                        window.location.href = '/mascotas';
                    }
                    else {
                        console.log(res.mensaje);
                    }


                } catch (error) {
                    console.log(error);
                }
            });

            const formularioEditar = document.querySelector('#formularioEditar');

            formularioEditar.addEventListener('submit', async (e) => {

                e.preventDefault();
                const nombre = formularioEditar.elements['nombre'].value;
                const descripcion = formularioEditar.elements['descripcion'].value;
                const id = formularioEditar.dataset.id;
                try {

                    const data = await fetch(`/mascotas/${id}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                            // 'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: JSON.stringify({ nombre, descripcion })
                    })

                    const res = await data.json()

                    if (res.estado) {
                        window.location.href = '/mascotas'
                    } else {
                        console.log(res)
                    }

                } catch (error) {
                    console.log(error);
                }


            });

        </script>