<%- include('template/cabecera', {tituloweb: 'Inicio EJS por parciales' }); %>

    <div class="container">
        <h1>CRUD Mongo</h1>

        <a class="btn btn-success btn-block my-4"
           href="/mascotas/crear">
           Crear nueva mascota
        </a>

        <% if (arrayMascotas.length> 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <% arrayMascotas.forEach(mascota=> { %>
                        
                        <tr>
                            <th scope="row"><%= mascota.id %> </td>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td><a
                                class="btn btn-warning btn-sm"
                                href="mascotas/<%= mascota.id %>"
                              >
                                Editar
                              </a></td>
                        </tr>

                    <% }) %>

                </tbody>
            </table>
            <% } %>
    </div>
    <%- include('template/footer'); %>